@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Matemasie&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background: linear-gradient(to bottom, #0091ea, #673ab7);
  font-family: "Dancing Script", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-flow: row wrap;
  font-size: 3rem;
  column-gap: 2rem;
  align-items: center;
  justify-content: center;
}

button {
  background-color: goldenrod;
  width: 10rem;
  height: 3rem;
  border-radius: 3rem;
  box-shadow: 0.5rem 0.5rem 0.2rem 0.2rem;
  font-size: 2rem;
}

.seconds {
  min-width: 5rem;
}
